/* Style global de la page */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    background-color: #ffffff;
    font-family: Inter;
    margin: 1em;
}


/* Conteneur principal */
.container-dates {
    display: flex;
    width: 80%;
    background-color: var(--light-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2em;
}

/* Section des dates avec défilement */
.dates {
    width: 50%;
    padding-right: 20px;
    max-height: 500px;  /* Limite la hauteur de la section */
    overflow-y: auto;   /* Active le défilement vertical */
}


/* Élément de chaque date (jour) */
.date-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.date-item h3 {
    color: var(--primary-color);
}

.date-item p {
    color: black;
    font-style: normal;
    font-weight: normal;
}



/* Plages horaires (hidden by default) */
.hours {
    display: none;
    padding-left: 15px;
}

/* Chaque heure dans le menu déroulant */
.hours div {
    padding: 5px 0;
    cursor: pointer;
}

.hours div:hover {
    background-color: #f0f0f0;
}

/* Section du profil du professeur */
.profile {
    width: 50%;
    text-align: center;
    border-left: 1px solid var(--primary-color);
    padding-left: 20px;
}

/* Image du professeur */
.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Popup de confirmation */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}



/* Contenu de la popup */
.popup-content {
    background-color: var(--light-bg-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    transform: translate(200%, 65%);
}

/* Actions du popup (annuler/valider) */
.popup-actions button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-actions button:hover {
    background-color: var(--accent-color);
}

/* Animation pour l'ouverture du popup */
.popup-content {
    transition: transform 0.3s ease;
}

#prof-selector {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s;
}

#prof-selector:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--accent-color);
    outline: none;
}

#prof-selector:hover {
    background-color: #d4edda;
    border-color: #28a745;
}


